
	<div class="d-flex flex-row">
	<div class="p-2">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="/assets/ELLISAlicanteLogo.jpg"/></a>
	</div>
	<div class="p-2">
	{% assign posts=site.posts | where:"pageid", page.pageid | sort: 'lang' %}
	{% for post in posts %}
		<a class="nav-link" href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.languages[post.lang].label }}</a>
	{% endfor %}

	{% assign pages=site.pages | where:"pageid", page.pageid | sort: 'lang' %}
	{% for page in pages %}
		<a class="nav-link" href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.languages[page.lang].label }}</a>
	{% endfor %}		
	</div>
	</div>
	
    {% assign pages=site.pages | where:"lang", page.lang %}
    {%- assign default_paths = pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = pages | map: 'title' | join: '' | size -%}
    {%- if titles_size > 0 -%}
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">

        <ul class="navbar-nav">
          {%- for path in page_paths -%}
            {%- assign my_page = pages | where: "path", path | first -%}
            {%- if my_page.title -%}
			<li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
			</li>
            {%- endif -%}
          {%- endfor -%}
		
	         </ul> 
      </nav>
    {%- endif -%}
	