<header class="header-wrapper fixed">
	<div class="fixed-top">

		<div class="row ellis-footer-color-row">
			<div class="col ellis-bg-red"></div>
			<div class="col ellis-bg-green"></div>
			<div class="col ellis-bg-yellow"></div>
			<div class="col ellis-bg-orange"></div>
			<div class="col ellis-bg-blue"></div>
		</div>
	</div>

	<nav class="navbar navbar-expand navbar-light ewt-navbar trans">
		<div class="container">
			<div class="navbar-collapse justify-content-between">
				<ul class="navbar-nav mr-auto">


					{% for item in site.data.menu[page.lang] %}
					{% assign my_page = site.pages | where: "path", item.path | first %}
					
					{% if item.subitems %}
					
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {{ item.title | escape }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% for subitem in item.subitems %}
					  {% assign my_subpage = site.pages | where: "path", subitem.path | first %}
					
					  <a class="dropdown-item" href="{{ my_subpage.url | relative_url }}">{{ subitem.title | default: my_subpage.title | escape }}</a>
					{% endfor %}
					</div>
					</li>					
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ my_page.url | relative_url }}">{{ item.title | default: my_page.title | escape }}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>

				<ul class="navbar-nav">
					{% for i in (1..2) %}
					{% if i == 1 %}
					{%  assign result=site.pages | sort: 'lang' %}
					{% else %}
					{% 	assign result=site.posts | sort: 'lang' %}
					{% endif %}

					{% capture removeback %}.{{page.lang}}.md{%endcapture%}
					{% capture pagebasepath %}{{ page.path | remove: removeback }}{% endcapture%}
					
					{% for p in result %}
						{% capture removeback %}.{{p.lang}}.md{%endcapture%}
						{% capture basepath %}{{ p.path | remove: removeback }}{% endcapture%}
						{% if pagebasepath == basepath and page.lang != p.lang %}
						<li class="nav-item">
							<a class="btn btn-outline-light" href="{{ p.url }}"
								class="{{ p.lang }}"><small>{{ site.data.languages[p.lang].label }}</small></a>
						</li>
						{% endif %}
					{% endfor %}

					{% endfor %}
				</ul>
			</div>
	</nav>
</header>

<div class="homepage-header custom-ellis-header custom-ellis-header-mobile">
	<div class="container">
		<div class="ellis-header-upper-spacer"></div>
		{% if page.layout == "home" %}
		<div class="text-center">
			<img class="img-fluid pt-5 pb-5" src="/assets/header_logo.png" alt="Ellis header logo2" />
		</div>
		{% endif %}
 	</div>
</div>

<div class="section-top d-sm-none"></div>