<header class="header-wrapper fixed">
	<div class="fixed-top">

		<div class="row ellis-footer-color-row">
			<div class="col ellis-bg-red"></div>
			<div class="col ellis-bg-green"></div>
			<div class="col ellis-bg-yellow"></div>
			<div class="col ellis-bg-orange"></div>
			<div class="col ellis-bg-blue"></div>
		</div>
	</div>

	{% assign pages=site.pages | where:"lang", page.lang %}
	{%- assign default_paths = pages | map: "path" -%}
	{%- assign page_paths = site.header_pages | default: default_paths -%}
	{%- assign titles_size = pages | map: 'title' | join: '' | size -%}

	{%- if titles_size > 0 -%}

	<nav class="navbar navbar-expand navbar-light ewt-navbar trans">
		<div class="container">
			<div class="navbar-collapse justify-content-between">
				<ul class="navbar-nav mr-auto">
					{%- for path in page_paths -%}
					{%- assign my_page = pages | where: "path", path | first -%}
					{%- if my_page.title -%}
					<li class="nav-item">
						<a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
					</li>
					{%- endif -%}
					{%- endfor -%}
				</ul>

				<ul class="navbar-nav">
					{% for i in (1..2) %}
					{% if i == 1 %}
					{%  assign result=site.pages | where:"pageid", page.pageid | sort: 'lang' %}
					{% else %}
					{% 	assign result=site.posts | where:"pageid", page.pageid | sort: 'lang' %}
					{% endif %}

					{% for p in result %}
					{% if p.lang != page.lang %}
					<li class="nav-item">
						<a class="btn btn-outline-light" href="{{ p.url }}"
							class="{{ p.lang }}">{{ site.data.languages[p.lang].label }}</a>
					</li>
					{% endif %}
					{% endfor %}

					{% endfor %}
				</ul>
			</div>
	</nav>
	{%- endif -%}
</header>

<div class="homepage-header custom-ellis-header custom-ellis-header-mobile">
	<div class="container">
		<div class="ellis-header-upper-spacer"></div>
		{% if page.layout == "home" %}
		<div class="text-center">
			<img class="img-fluid pt-5 pb-5" src="/assets/header_logo.png" alt="Ellis header logo2" />
		</div>
		{% endif %}
 	</div>
</div>

<div class="section-top d-lg-none"></div>
