body, html {
	height: 100%;
	margin: 0;
	font-size: 18px;
	color: #333;
	font-family: "Roboto" !important;
  }
  
  
  .btn:link {
	text-decoration: none;
  }
  
  .btn:visited {
	text-decoration: none;
  }
  
  .btn:hover {
	text-decoration: none;
  }

  .btn:active {
	text-decoration: none;
  }
  
  /* navbar */
  .navbar {
	padding: 1rem 1rem !important;
  }
  
  .navbar-nav .nav-link {
	padding-right: 10px;
	padding-left: 10px;
  }
  
  .ellis-header-container {
	max-width: 1270px !important;
	margin: auto;
  }
  
  .custom-ellis-header {
	background: url(/assets/customheader.png);
	background-repeat: none;
	background-position: left bottom;
	background-size: cover;
  }
  
  .ellis-header-upper-spacer {
	height: 100px;
  }
  
  .ellis-map-col {
	background: url(/assets/map.png);
	background-repeat: no-repeat;
	background-size: contain;
  }
  
  .ellis-header-logo-container {
	height: 400px;
	max-width: 680px;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 0;
  }
  
  .ellis-text-container {
	padding-top: 100px;
  }
  
  .text-ribbon-container-ellis {
	text-align: justify;
	text-align: center;
	font-size: 27px !important;
	color: #eee;
	background-color: rgba(20, 20, 20, 0.4);
	overflow: hidden;
  }
  
  .section-no-top {
	margin-top: none !important;
  }
  
  .h4, h4 {
	font-size: 1.3rem !important;
  }
  
  .slideout-menu {
	z-index: 1 !important;
  }
  
  .nav-item-ellis {
	line-height: 40px;
  }
  
  .facebook-grey {
	color: #333;
	background-color: rgba(255, 255, 255, 0.7);
  }
  
  .facebook-grey:hover {
	color: #333;
	background-color: rgba(255, 255, 255, 0.9);
  }
  
  .section-top {
	/*margin-top: 100px;*/
	padding-top: 130px !important;
	margin-top: 0px !important;
  }
  
  div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 140px;
  }
  .section-footer-ellis {
	  background-color: #333333;
	  color: #eee;
  }
  
  .section-footer-ellis-bottom {
	  color: #EEE;
	  background-color: #111111;
  }
  
  .section-footer-ellis a,
  .section-footer-ellis-bottom a {
	  color: #868e96;
  }
  
  .section-footer-ellis a:hover,
  .section-footer-ellis-bottom a:hover {
	  color: #eee;
  }
  
  .section-footer-bottom {
	  height: 60px;
	  line-height: 60px;
  }
  
  .btn-footer-bottom {
	  margin-bottom: 6px;
	  background-color: #343a40;
	  border-color: #343a40;
	  /*border-color: #ccc;*/
  }
  
  .ellis-footer-text {
	  margin: auto;
  }
  
  
  .ellis-footer-color-row {
	  height: 5px;
  }
  
  .ellis-bg-red {
	  background-color: #E48879;	
  }
  .ellis-bg-green {
	  background-color: #C0EA96;
  }
  .ellis-bg-yellow {
	  background-color: #F5E364;
  }
  .ellis-bg-orange {
	  background-color: #E8A062;
  }
  .ellis-bg-blue {
	  background-color: #83ADE5;
  }
  .ewt-navbar {
	background-color: rgba(20, 20, 20, 0.9) !important;
	border-bottom: 1px solid rgba(238, 238, 238, 0.2) !important;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
  }
  
  .ewt-navbar-trans {
	background-color: rgba(255, 255, 255, 0) !important;
	border-bottom: 1px solid rgba(238, 238, 238, 0.2) !important;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
  }
  
  /*.ewt-navbar-trans .navbar-nav .nav-link {*/
  .navbar-nav .nav-link {
	color: #FFF !important;
  }
  
  .ewt-navbar-collapse {
	display: flex !important;
	flex-basis: 0 !important;
  }
  
  .header-logo-text {
	color: rgba(255, 255, 255, 0.8) !important;
	font-size: 30px !important;
  }
  
  .header-logo-text-trans {
	font-size: 30px !important;
	color: rgba(255, 255, 255, 0.8) !important;
  }
  
  .btn-mobile-menu {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #ccc;
  }
  
  .btn-mobile-menu:hover {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #ccc;
  }
  
  .btn-mobile-menu:focus {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #ccc;
  }
  
  .btn-mobile-menu_bg, .btn-mobile-menu_bg:hover, .btn-mobile-menu_bg:focus {
	color: #999;
	border: 1px solid #999;
  }
  
  
  /* mobile menu nav */
  .mobile-menu-breaker-bottom {
	border-bottom: 1px solid rgba(204, 204, 204, 0.1);
  }
  .slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
  }
  
  .slideout-menu-left {
	left: 0;
  }
  
  .slideout-menu-right {
	right: 0;
  }
  
  .slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #FFF; /* A background-color is required */
	min-height: 100vh;
  }
  
  @media (max-width: 992px) {
	/* CSS that should be displayed if width is equal to or less than 992px goes here */
	 .slideout-panel {
		overflow: hidden !important;
	  }
  }
  
  .slideout-open .slideout-menu {
	display: block;
  }
  
  /* -------------------- */
  /* -------------------- */
  /* -------------------- */
  /* solution for fixed navbar */
  .fixed {
	backface-visibility: hidden;
	position: fixed;
	z-index:2;
	transition: transform 300ms ease;
  }
  
  .fixed-open {
	transform: translate3d(256px, 0px, 0px);
  }
  .fixed.fixed-open-right {
	-webkit-transform: translate3d(-256px, 0px, 0px);
	transform: translate3d(-256px, 0px, 0px); 
  }
  
  
  .header-wrapper {
	width: 100%;
  }
  
  .main-panel {
	  margin-bottom: 0px !important;
	  border: none !important;
  }
  
  /* -------------------- */
  /* -------------------- */
  /* -------------------- */
  /* movile menu */
  .menu {
	background-color: #1D1F20;
	background-image: linear-gradient(145deg, #1D1F20, #404348);
  }
  
  .menu-header {
	border-bottom: 1px solid #2a2d2f;
	padding: 20px 0 20px 60px;
	background: url('../assets/github.png') no-repeat 15px 15px;
	background-size: 32px;
  }
  
  .menu-header-title {
	font-weight: 400;
	letter-spacing: 0.5px;
	margin: 0;
  }
  
  .menu-section {
	margin: 25px 0;
  }
  
  .menu-section-title {
	text-transform: uppercase;
	color: #85888d;
	font-weight: 200;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 0 20px;
	margin:0;
  }
  
  .menu-section-list {
	padding:0;
	margin: 10px 0;
	list-style:none;
  }
  
  .menu-section-list a {
	display: block;
	padding: 10px 20px;
  }
  
  .menu-section-list a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	text-decoration: none;
  }
  /* -------------------- */
  /* -------------------- */
  /* -------------------- */
  
  .menu-section-list li a , .menu-section-list li a:hover {
	color: #ccc !important;
  }
  .icon-bar-sticky {
	float: left;
	position: sticky;
	position: -webkit-sticky;
	width: 40px;
	margin: 140px 0px 0px 16px;
	top: 140px;
  }
  
  
  .icon-bar-mobile {
	margin: 0px 0px 16px 0px;
  }
  
  .icon-bar-sticky a {
	display: block;
	text-align: center;
	padding: 5px 0px 5px 0px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
  .icon-bar-mobile a {
	padding: 5px 0px 5px 0px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }

  @font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
  }
  @font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
	font-weight: bold;
  }
  