---
layout: default
---

{% assign people=site.people | where: "people_category", page.people_category  | where: "lang", page.lang | sort: "name" %}

<div class="container">
 {{content}}

  <div class="row">
{% for p in people %}
<div class="card p-3 col-lg-6">
<h5 class="card-title">{% if p.picture != "" %}<img src="{{p.picture}}" align=right style="height: 100px">{% endif %}{{ p.name }}<br><small>{{ p.title }}</small></h5>
<p class="card-text">{{ p.content}}</p>
</div>
{% endfor %}
</div>
</div>